body {
    background-color : #EAFDD9;
    font-family:'Bungee Inline', sans-serif;
    width:70%;
    margin: auto;
    text-align: center;
    color:#6a8d73;
}

h1 {
    font-size : 60px;
    padding: 30px, 0px,30px,0px;
    color : #2b4653;
    text-align : center;
}

p {
    font-size: 1em;
    line-height: 30px;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

h2 {
    font-size : 40px;
    padding: 30px, 0px,30px,0px;
    color : #2b4653;
    text-align : center;
}

#startgame, #roll, #quit {
    color:#6a8d73;
    margin:auto; 
    font-size: 20px;
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color : #fff3b0;
    border-radius: 10px;
    text-align: center;
    border-color: #fcca46;
}

#pass, #rollagain {
    color:#6a8d73;
    margin:auto; 
    font-size: 20px;
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color : #fff3b0;
    border-radius: 10px;
    text-align: center;
    border-color: #fcca46; 
}

a{  
    color: #2b4653;
    text-decoration:none;
  }
  
a:hover{
    text-decoration: line-through;
  }

footer{
    color: #2b4653; 
    padding: 20px 0px 0px 0px;
    text-align: center;
}